{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
  },
  "rules": {
    "max-len": [2, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "import/no-duplicates": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off",
    "jsx-a11y/anchor-has-content": "off",
    "class-methods-use-this": [1, { "exceptMethods": ['getChildContext', 'componentWillMount'] }],
    "react/no-unused-prop-types": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  },
  settings: {
    "import/resolver": {
      "webpack": {
        "config": "./docs/webpack.config.js"
      }
    }
  }
}
