.demo-modal {
  height: 50rem;
  position: relative;
}

.demo-modal .slds-modal,
.demo-modal .slds-backdrop {
  position: absolute;
}

.demo-notifications {
  height: 4rem;
  position: relative;
}

.demo-notifications .slds-notify_container {
  position: absolute !important;
}

.demo-tooltips {
  display: flex;
  height: 20rem;
  align-items: center;
  justify-content: center;
}

.reactlds-table_stickyheader th {
  border-bottom: 1px solid rgb(221, 219, 218);
}

.reactlds-table_stickyheader tbody > tr:first-child > td {
  border-top: none;
}
