@import "../node_modules/@salesforce-ux/design-system/scss/design-tokens";
@import "../node_modules/@salesforce-ux/design-system/scss/config";
@import "../node_modules/@salesforce-ux/design-system/scss/vendor/deprecate";
@import "../node_modules/@salesforce-ux/design-system/scss/dependencies/index";

$height-banner: 0rem;
$height-banner-badge: 0rem;
$width-sidebar: 15rem;
