@import "../../../node_modules/@salesforce-ux/design-system/scss/design-tokens";
@import "../../../node_modules/@salesforce-ux/design-system/scss/config";
@import "../../../node_modules/@salesforce-ux/design-system/scss/vendor/deprecate";
@import "../../../node_modules/@salesforce-ux/design-system/scss/dependencies/index";

$height-banner: 0rem;
$height-banner-badge: 0rem;
$width-sidebar: 15rem;

$site-font-size-xx-large: 1.5rem;
$site-font-size-xxx-large: 3rem;
$site-square-masthead-image: 6rem;
$site-height-masthead-header: 11.25rem;
